@model bool

@if (!Model)
{
    <div class="top-banner">
      <div class="container">
        <div class="d-flex align-items-center justify-content-center">
          <i class="bi bi-stars me-2"></i>
          <span>New to learning? <a href="/Assessment/Start">Take our skill assessment</a> to get personalized recommendations!</span>
        </div>
      </div>
    </div>
}
